# ============================
# DATABASE
# ============================
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_strong_password
POSTGRES_DB=repo_notifier_db
POSTGRES_PORT=5432

DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable


# ============================
# APPLICATION
# ============================
APP_HTTP_PORT=8080
APP_BASE_URL=http://localhost:${APP_HTTP_PORT}

# ============================
# REDIS
# ============================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# ============================
# EMAIL
# ============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=user
EMAIL_PASSWORD=password
EMAIL_FROM=from_email_address

# ============================
# API
# ============================
APP_API_KEY=my-super-secret-token-123

# ============================
# gRPC
# ============================
APP_GRPC_PORT=50051

# ============================
# Metrics
# ============================
GRAFANA_PORT=3030
PROMETHEUS_PORT=9090

# ============================
# Documentation
# ============================
SWAGGER_PORT=9080

# ============================
# GitHub
# ============================
GITHUB_TOKEN=your_github_token