# ============================
# DATABASE
# ============================
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_strong_password
POSTGRES_DB=repo_notifier_db


DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable


# ============================
# KEYCLOAK
# ============================
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=change_me_strong_password
KEYCLOAK_DB_NAME=keycloak


# OAuth / Client
CLIENT_SECRET=your_client_secret


# ============================
# APPLICATION
# ============================
HTTP_PORT=8080


# ============================
# REDIS
# ============================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# ============================
# EMAIL
# ============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=user
EMAIL_PASSWORD=password
EMAIL_FROM=from_email_address

# ============================
# API
# ============================
APP_API_KEY=my-super-secret-token-123

# ============================
# gRPC
# ============================
GRPC_PORT=50051